.expanded-view-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
}

.expanded-view-nav-bar-item {
  color: #a3a3a3;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-family: 'renner_mediummedium', Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
}

.expanded-view-nav-bar-item.active-tab {
  color: #5f65ff;
  border-bottom: 3px solid #5f65ff;
}
