.project-secret-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 28px;
}

.project-secret-row .validating_form_input {
  margin-bottom: 0;
}

.project-secret-copy-secret {
  margin-left: 8px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
}

.project-secret-copy-secret:hover .inner-icon {
  background-color: #5f65ff;
}

.project-secret-copy-secret .icon {
  padding-bottom: 0;
  margin: 0 auto;
}
