.button {
  border-radius: 25px;
  background: #6600FFF2;
  color: #FFFFFF;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 45px;
  cursor: pointer;
  font-family: 'rennerbook'
}

.button:hover {
  background: #7C24FF;
}