.button {
  border-radius: 25px;
  background: #6600FF;
  color: #FFFFFF;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 45px;
  cursor: pointer;
  font-family: 'renner_mediummedium', Helvetica, sans-serif;
}

.button:hover {
  background: #7C24FF;
}

.clear_button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: 'renner_mediummedium';
  color: ;
  font-size: 11px;
  padding: 0;
  color: #00BEB0;
}

.clear_button:hover {
  color: #5F65FF;
}


.button.purple {
  background: #6600FF;
  color: #FFFFFF;
}

.button.purple:hover {
  background: #7C24FF;
}

.button.green {
  background: #00AFA4;
  color: #FFFFFF;
}

.button.green:hover {
  background: #00BEB0;
}

.button.small {
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 32px;
}

.button.medium {
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 40px;
}

.button.large {
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 40px;
}