.expanded-view-nav-bar {
  display: flex;
  flex-direction: row;
}

.expanded-view-nav-bar-item {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-around;
  border-bottom: 1px solid #e8e8e8;
}

.expanded-view-nav-bar-item.active-tab {
  color: #5f65ff;
  border-bottom: 3px solid #5f65ff;
}
