.popup {
  background: rgba(31, 31, 31, 0.4);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup.active {
  opacity: 1;
  z-index: 200;
}

.popup .btn-close-modal {
  display: block;
  position: absolute;
  width: 16px;
  right: 20px;
  top: 20px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-window {
  position: relative;
  width: 634px;
  height: 345px;
  box-sizing: border-box;
  padding: 50px 60px;
  transition: 0.3s;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #00000041;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-header {
  display: flex;
  align-items: center;
}

.popup-title {
  font-size: 22px;
  font-family: 'rennerbold', Helvetica, sans-serif;
  font-weight: normal;
}

.popup-logo {
  margin-right: 10px;
}

.popup-content {
  letter-spacing: 0;
  line-height: 2;
  height: 55%;
  margin-left: 50px;
  color: #4d4d4d;
}

.popup-footer {
  display: flex;
  justify-content: end;
  /* justify-content: space-between; */
  /* align-items: center; */
}
