.tabs{
  padding: 0;
}
.tabs  > .tabs-links {
    position: relative;
    top: 1px;
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap row;
    /* border: 1px solid #ccc5; */
}


.tabs  > .tabs-links > button.tab-link,a.tab-link{
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: #fff;
  border:none;
  border-bottom:3px solid #ccc; 
  line-height: 3;
  padding: .5rem;
  transition: all .5s;
  font-weight: bold;
  margin: 0 !important;
}

.tabs  > .tabs-links > button.tab-link:hover{
  background-color: #f5f5f5;
}

.tabs  > .tabs-links > button.tab-link.active{
  color: #5F65FF;
  border-bottom: 3px solid #5F65FF;
}

.tabs-contents{ position: relative; }

.tabs-contents > .tab-content{
  width: 100%;
  background: #fff;
  /* border: 1px solid #ccc5; */
  border-top:none;
  border-top: transparent;
  display: none;  
  padding: 1rem 0;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.tab-content.active{
  display: block;
}