.tabs{
  padding: 0;
}
.tabs  > .tabs-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap row;
    /* border: 1px solid #ccc5; */
}


.tabs  > .tabs-links > button.tab-link,a.tab-link{
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #E8E8E8; 
  line-height: 3;
  transition: all .3s;
  margin: 0;
  color: #222222;
  font-family: 'rennerbold', Helvetica, sans-serif;
  box-sizing: border-box;
  height: 50px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.tabs  > .tabs-links > button.tab-link:hover{
  color: #5F65FF;
  border-bottom: 3px solid #5F65FF;
  stroke-linecap: round;
}

.tabs  > .tabs-links > button.tab-link.active{
  color: #5F65FF;
  border-bottom: 3px solid #5F65FF;
  stroke-linecap: round;
}

.tabs-contents{ position: relative; }

.tabs-contents > .tab-content{
  width: 100%;
  background: #fff;
  /* border: 1px solid #ccc5; */
  border-top:none;
  border-top: transparent;
  display: none;  
  padding: 2rem 0 !important;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.tab-content.active{
  display: block;
}