.guidebook-wrapper {
  position: relative;
}

.guidebook-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
  margin-top: -2px;
}

.guidebook-wrapper .nav-item {
  cursor: pointer;
  font-size: 20px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s;
  margin-bottom: 26px;
}

.guidebook-wrapper .nav-item .icon {
  margin-right: 10px;
}

.guidebook-wrapper .sidebar-submenu {
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}

.guidebook-wrapper .sidebar-submenu ul {
  margin: 0;
  list-style: none;
  padding-left: 35px;
}

.guidebook-wrapper .sidebar-submenu {
  height: 0;
  transition: ease-in-out 0.2s;
}

.guidebook-wrapper .sidebar-submenu.active {
  border-bottom: 1px solid #efefef;
  height: auto;
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  margin-bottom: 20px;
}

.guidebook-wrapper .sidebar-submenu.active ul li {
  margin-bottom: 30px;
}

.guidebook-wrapper .sidebar-submenu.active ul li button {
  background: none;
  margin: 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
}

.guidebook-wrapper .guidebook-section {
  display: flex;
  flex-direction: column;
}

.guidebook-wrapper .sidebar-submenu.active ul li button:hover {
  color: #5f65ff;
}

.guidebook-section-description {
  margin: 0;
  margin-bottom: 22px;
}

.guidebook-wrapper .guidebook-section ol {
  margin-top: 0;
}

.guidebook-section-description li {
  margin-bottom: 20px;
}

.guidebook-section-title {
  font-size: 20px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
}

.guidebook-wrapper button {
  outline: none;
}

.guidebook-section-content {
  padding: 0;
}
