.guidebook-outer-wrapper {
  position: absolute;
  right: 0;
  top: 54px;
  border-radius: 10px;
  /* margin-right: 12px; */
  background-color: #ffffff;
  padding: 30px 20px;
  box-shadow: 0px 0px 6px #00000029;
  width: 600px;
  height: calc(100vh - 192px);
}

.guidebook-outer-wrapper.enter {
  opacity: 0;
}
.guidebook-outer-wrapper.enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.guidebook-outer-wrapper.exit {
  opacity: 1;
}
.guidebook-outer-wrapper.exit-active {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.guidebook-outer-wrapper .small-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.guidebook-outer-wrapper button {
  margin: 0;
}

.guidebook-wrapper {
  position: relative;
}

.guidebook-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
  margin-top: -2px;
}

.howtos {
  display: flex;
  flex-direction: row;
}

.how-tos-nav {
  width: 280px;
}

.guidebook-wrapper .nav-item {
  cursor: pointer;
  font-size: 20px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 0.2s ease-in-out;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.guidebook-wrapper .nav-item:hover {
  color: #5f65ff;
}

.guidebook-wrapper .nav-item .icon {
  margin-right: 10px;
}

.guidebook-wrapper .sidebar-submenu {
  height: 0;
  /* transition: all 0.3s; */
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.guidebook-wrapper .sidebar-submenu.active {
  border-bottom: 1px solid #efefef;
  height: auto;
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  margin-bottom: 20px;
}

.guidebook-wrapper .sidebar-submenu ul {
  margin: 0;
  list-style: none;
  padding-left: 8px;
}

.guidebook-wrapper .sidebar-submenu.active ul li {
  margin-bottom: 6px;
}

.guidebook-wrapper .sidebar-submenu.active ul li a {
  text-align: left;
  background: none;
  margin: 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.guidebook-wrapper .guidebook-section {
  display: flex;
  flex-direction: column;
}

.guidebook-wrapper .sidebar-submenu.active ul li a:hover {
  color: #5f65ff;
}

.guidebook-section-description {
  margin: 0;
  margin-bottom: 22px;
  line-height: 24px;
}

.guidebook-wrapper .guidebook-section ol {
  margin-top: 0;
}

.guidebook-description-section {
  margin-bottom: 20px;
}

.guidebook-description-bold {
  font-family: 'CircularStd-bold', Helvetica, sans-serif;
}

.guidebook-separate-line {
  margin-bottom: 16px;
  padding-left: 0;
  margin-left: -14px;
}

.guidebook-separate-line.sub-heading {
  font-family: 'CircularStd-bold', Helvetica, sans-serif;
  font-size: 18px;
}

.guidebook-section-description li {
  margin-bottom: 20px;
}

.guidebook-section-title {
  font-size: 20px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
}

.guidebook-wrapper button {
  outline: none;
}

.guidebook-section-content {
  padding: 0;
}

/* shortcuts section */

.guidebook-shortcut-category-wrapper {
  margin-bottom: 30px;
}

.guidebook-shortcut-category-title {
  font-size: 20px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  margin-bottom: 24px;
  margin-left: 10px;
}

.guidebook-shortcut-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  padding-bottom: 14px;
  margin-bottom: 14px;
  margin-left: 30px;
}

.guidebook-shortcut-key {
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
}

.guidebook-shortcut-title {
  width: 46%;
  margin-right: 20px;
}
