.priority_picker_wrapper {
  width: 300px;
  height: 388px;
}

.priority_tabs {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-around;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
}

.priority_tab {
  padding: 10px;
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  cursor: pointer;
}

.priority_tab.active {
  color: #5f65ff;
  border-bottom: 3px solid #5f65ff;
}

.priority_tab.disabled {
  opacity: 0.4;
  cursor: default;
}

.aggregated_priority {
  padding: 0 24px 0 24px;
}

.my_vote {
  padding: 0 24px 0 24px;
  margin-top: 46.5px;
}

.aggregated_priority_title {
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  margin-bottom: 10px;
}

.aggregated_priority_inputs {
  margin-bottom: 24px;
  color: #898989;
  font-size: 12px;
}

.priority_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priority_item_icon {
  margin-right: 10px;
}

.priority_item_title {
  width: 90px;
  font-size: 14px;
  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  color: #4d4d4d;
}

.priority_wrapper_button {
  padding: 18px 40px;
  text-align: center;
  margin-bottom: 4px;
}

.priority_wrapper_footer {
  display: flex;
  flex-direction: row;
  color: #898989;
  font-size: 12px;
  align-items: center;
  height: 20px;
}

.priority_wrapper_footer .icon {
  margin-right: 4px;
}

.my_vote_info {
  float: right;
  height: 20px;
}
