.react{
    width: 99.4%;
    margin-left: .4%;
  }
  .logos{display: flex;}
  .header{
    margin-top: .5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    margin-left: 5%;
    width: 150px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    
  }
  .logo img{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 8% 4% 0% 8%;
  }
  .logos{
    width: auto;
  }
  .logo p{
    text-align: left;
    letter-spacing: 0;
    color: #222222;
  }.regular{
    margin-top: 10px;
    font-family: 'quebecregular', Helvetica, Sans-Serif;
    font-weight: normal;
    font-size:14px;
  }
  .semi{
    margin: 1px;
    font-family: 'quebecsemibold', Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 22px;
  }
  .logo h3{
    margin-top: 16px;
  }
  
  .estado{
    margin-left: 10px;
    width: 150px;
    height: 50px;
    padding: 0% .5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .estado > img,.estado >div{
    width: 23px;
    height: 23px;
    margin: 0px;
    display: inline-block;
    position: relative;
  }
  
  .estado div img{ width: 100%;display: block; }
  
  .estado div img + span{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 80%;
    left: 80%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
   }
   .blue img + span{
    background-color: blue;
   }
   .green img + span{
    background-color: green;
   }
   button.green img{
    background-color: green;
   }
   button.blue img {
    background-color: blue;
   }
   button.yellow img {
    background-color: yellow;
   }
   button.gray img {
    background-color: gray;
   }
   .status_change button img {
    border-radius: 50%;
   }
   .status_change button{
    outline: none;
    background: none;
    width: 100px;
    border: none;
    display: flex;
    padding: 9px;
    background-color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
   }
   .status_change button:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   }
   .status_change button:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
   }
   .status_change{
     margin-top: 20px;
   }
   .instructions_wrapper{
    float: right;
   }
   .status_change{
    float: right;
    
   }