.create-project-modal-wrapper {
  width: 550px;
  height: 443px;
  overflow: hidden;
  position: relative;
}

.create-project-modal-wrapper .validating_form_input {
  margin-bottom: 28px;
}

/* create project modal animation */

.create-project-form {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s, transform 0.4s;
}

.create-project-form.project-created {
  /* background-color: blue; */
  opacity: 0;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

/* project created modal animation */

/* default is to be hidden */
.project-created-modal {
  /* position: absolute; */
  opacity: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

/* then it shows */
.project-created-modal.project-created {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
