.zoom-options{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-height: 60px;
  padding: 16px 20px;
}

.zoom-options img, span{
  display: inline-block;
}

.zoom-options span {
  font-size: 16px;
  font-family: 'renner_mediummedium', Helvetica, sans-serif;
  font-weight: normal;
}

.zoom-options img.icon {
  margin-right: 24px;
  padding: 4px;
  box-sizing: content-box;
}