.history-Body-Container {
  display: flex;
  margin-bottom: 10px;
}

.history {
  padding: 10px;
  margin: 20px 0;
  color: rgb(0, 0, 0);
  overflow-y: scroll;
  height: 180px;
  overflow-x: hidden;
}
.history-Body-Avatar {
  padding: 0 8px;
}
.custom-status-icon {
  margin: 0px;
  width: 18px;
  height: 18px;
}

.history-Author {
  margin: 0;
  color: #4e566f;
  font-weight: 600;
}
.history-Comment {
  color: #4e566f;
  margin: 0;
}

.history-Header {
  display: flex;
  align-items: center;
}
.history-Body {
  width: 80%;
  overflow-wrap: break-word;
}

.history-Date {
  font-size: x-small;
  color: #a3a3a3;
  opacity: 1;
}
