.dashboard-list-project-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.dashboard-list-project {
  display: flex;
  flex-direction: row;
}

.dashboard-list-project-image {
}

.dashboard-list-project-image img {
  border-radius: 5px;
  width: 68px;
  height: 68px;
}

.dashboard-list-project-content {
  flex: 1;
  margin-left: 12px;
}

.dashboard-list-project-name {
  font-size: 24px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  text-decoration: none;
  color: #535353;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.dashboard-list-project-name:hover {
  color: #5f65ff;
}

.dashboard-list-project-member-count {
  font-family: 'CircularStd-Book', Helvetica, sans-serif;
  font-size: 16px;
  color: #bcbcbc;
}

/* dashboard project entry points section */

.dashboard-list-project-entry-points {
  margin-top: 10px;
  font-family: 'CircularStd-Book', Helvetica, sans-serif;
  margin-left: 82px;
}

.entry-point-button-image {
  height: 15px;
  margin-right: 8px;
}

.dashboard-list-project-entry-point-button {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 0.2s ease-in;
  width: 150px;
  color: #9b9b9b;
  cursor: pointer;
}

.dashboard-list-project-entry-point-button .icon {
  margin-left: 4px;
  padding: 3px;
  transition: transform 0.2s ease-in;
}

.dashboard-list-project-entry-point-button:hover {
  color: #5f65ff;
}

.dashboard-list-project-entry-point-button:hover .inner-icon {
  background-color: #5f65ff;
}

.dashboard-list-project-entry-point-button .icon.active {
  transform: rotateX(180deg);
  -webkit-transform: rotate(180deg);
}

.dashboard-list-project-entry-point-expanded {
  display: flex;
  flex-direction: column;
}

.entry-point-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-left: 23px;
}

.entry-point-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ebebeb;
  margin-right: 12px;
}

.entry-point-name {
  flex: 1;
  color: #535353;
}

/* dashboard project invite members */

.dashboard-invite-members-button {
  border: 1.5px solid #d0d0d0;
  border-radius: 30px;
  font-size: 12px;
  padding: 6px 14px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-invite-members-button .icon {
  margin-right: 4px;
  width: 12px;
}

.dashboard-invite-members-button:hover .inner-icon {
  background-color: #5f65ff;
}

/* dashboard project members list */

.dashboard-list-project-members {
  float: right;
  display: flex;
  flex-direction: column;
}

.dashboard-list-project-member-list {
  margin-bottom: 8px;
}

.dashboard-list-project-member-list .initials-avatar {
  float: right;
}
