.dashboard-background {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-top: 70px;
}

.dashboard-left-menu {
  min-width: 140px;
  position: fixed;
  padding: 20px;
  margin-left: 10px;
}

.dashboard-left-menu-item {
  font-size: 14px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  color: #535353;
  margin-bottom: 10px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: color 0.1s ease-in, background-color 0.1s ease-in;
  width: 110px;
  border-radius: 10px;
}

.dashboard-left-menu-item .icon {
  margin-right: 6px;
}

.dashboard-left-menu-item:hover {
  color: #5f65ff;
  background-color: #f7f7f7;
}

.dashboard-left-menu-item .inner-icon {
  transition: background-color 0.1s ease-in;
}

.dashboard-left-menu-item:hover .inner-icon {
  background-color: #5f65ff;
}

/* dashboard my projects */

.dashboard-my-projects {
  flex: 1;
  margin: 0 auto;
  max-width: 70%;
}

@media only screen and (max-width: 1045px) {
  .dashboard-my-projects {
    float: right;
    max-width: calc(100vw - 200px);
    margin-right: 40px;
  }
}

.my-projects-heading {
  font-size: 30px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  color: #535353;
  margin-bottom: 30px;
}

.my-projects-header {
  border-bottom: 2px solid #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.my-projects-header-buttons {
  display: flex;
  flex-direction: row;
}

.my-projects-button {
  border: 2px solid #d0d0d0;
  border-radius: 30px;
  font-size: 14px;
  padding: 7px 14px;
  width: 110px;
  text-align: center;
  cursor: pointer;
}

.create-project-button {
  margin-right: 8px;
}

.my-projects-content {
  position: relative;
  height: 70vh;
}

/* dashboard empty state */

.dashboard-empty-state {
  text-align: center;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-empty-state-image {
  background: #ebebeb;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  margin: 20px auto;
}

.dashboard-empty-state-heading {
  font-size: 40px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  margin-bottom: 20px;
  color: #535353;
  letter-spacing: 0.5px;
}

.dashboard-empty-state-description {
  text-align: center;
  color: #535353;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.3px;
  font-family: 'CircularStd-Book', Helvetica, sans-serif;
}

.dashboard-empty-state-description a {
  color: #5f65ff;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.dashboard-empty-state-description a:hover {
  color: #00beb0;
}
