.hierarchies_picker{
  left: 100%;
  top: 0px;
  width: 300px;
  margin-left: 1rem;
}

.hierarchy_option{
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hierarchy_option:last-child{ margin-bottom: 0; }

.hierarchy_option button:hover{
  color: violet;
}

.hierarchy_picker_header{
  padding-bottom: 1rem;
  position: relative;
  text-align: center;
  font-size: 1.1rem;
}

.hierarchy_content_wrapper{
  padding: 0 1rem;
}

.hierarchy_picker_header .vertical_action_close{
  position: absolute;
  right: 1.5rem;
  top: 0;
}

.hierarchy_option_icon_container img{
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.hierarchy_option_content{
  flex-grow: 1;
}

.hierarchy_option_content > span{ display: block; width: 100%; }

.gray-text{ color: #A3A3A3 }

.hiararchy-card-icon{
  position: absolute;
  left: -190%;
  top: -30px;
}