
.header {
  position: fixed;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
}

.top-left-panel {
  display: flex;
  width: auto;
  margin-left: 10px;
}

.logo {
  padding-right: 20px;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.current-canvas {
  margin-left: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.current-canvas img {
  margin-right: 10px;
}

.header-icon {
  height: 24px;
  margin: 0px;
  display: inline-block;
  position: relative;
  margin: 12px;
}

.logo p {
  text-align: left;
  letter-spacing: 0;
  color: black;
  margin-top: -13px;
}

.canvas-name {
  font-family: 'quebecregular', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 23px;
}

.logo-name {
  margin: 1px;
  font-family: 'quebecsemibold', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 28px;
}

.logo h3 {
  margin-top: 16px;
}

.top-right-panel {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 20px 5px 20px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stop-right-panel div img {
  width: 100%;
  display: block;
}

/* guidebook section on header */

.instructions_wrapper {
  float: right;
  position: relative;
  border-radius: 10px 0 0 10px;
  margin-top: 70px;
  background-color: #FFFFFF;
  padding: 40px 30px 20px 30px;
  box-shadow: 0px 0px 6px #00000029;
  width: 500px;
  min-height: 80%;
}

/* guidebook text and arrow help to open */

.guidebook_open_help {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  top: 70px;
  right: 88px;
  position: absolute;
  font-family: 'quebecregular', Helvetica, Sans-Serif;
  font-weight: normal;
  color: #717171;
  font-size: 14px;
  z-index: -1;
}

.guidebook_open_help img {
  max-width: 70px;
  padding-bottom: 5px;
  padding-left: 10px;
}




.instructions_wrapper .close_icon {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.instructions_wrapper button {
  margin: 0;
}

.instructions {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  margin-left: 10px;
  color: #4D4D4D;
}

/* profile section on header */

.top-right-panel>img, .top-right-panel>div {
  width: 36px;
  height: 36px;
  margin: 0px;
  display: inline-block;
  position: relative;
}

.top-right-panel icon {
  margin-right: 10px;
}

.avatar_container {
  height: 36px;
  width: 36px;
}

.avatar_container img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.top-right-panel div .avatar_container+span {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 78%;
  left: 78%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.profile-wrapper button p {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  font-size: 14px;
  padding: 0 20px;
}

.profile-wrapper button:hover {
  background: #F4F4F4 none repeat scroll 0% 0%;
  color: #5F65FF;
}

.profile-wrapper button img {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.profile-wrapper button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-wrapper {
  margin-top: 70px;
  margin-right: 10px;
  float: right;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}

/* user status on header */

.btn:hover {
  background-color: #F2F2F2;
}

.purple .avatar_container+span {
  background-color: #5F65FF;
}

.green .avatar_container+span {
  background-color: #00D0C0;
}

.yellow .avatar_container+span {
  background-color: #FFC400;
}

.gray .avatar_container+span {
  background-color: #D1D1D1;
}

button.green img {
  background-color: #00D0C0;
}

button.purple img {
  background-color: #5F65FF;
}

button.yellow img {
  background-color: #FFC400;
}

button.gray img {
  background-color: #D1D1D1;
}

.user-status-wrapper {
  margin-top: 70px;
  margin-right: 10px;
  float: right;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}

.user-status-wrapper button {
  padding: 0 25px;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-status-wrapper button img {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.user-status-wrapper button p {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  font-size: 14px;
  padding-left: 10px;
}

.user-status-wrapper button:hover {
  background: #F4F4F4 none repeat scroll 0% 0%;
  color: #5F65FF;
}