.header-wrapper {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  top: 0;
}

.top-left-panel {
  display: flex;
  width: auto;
  margin-left: 10px;
}

.logo {
  padding-right: 20px;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.current-canvas-wrapper {
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.current-canvas-content {
  margin-left: 16px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.current-canvas-content .icon {
  margin-right: 10px;
}

.header-icon {
  height: 24px;
  margin: 0px;
  display: inline-block;
  position: relative;
  margin: 12px;
}

.logo p {
  text-align: left;
  letter-spacing: 0.1px;
  color: #2b2b2b;
  margin-top: -2px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  cursor: default;
}

.canvas-name {
  font-family: 'renner_mediummedium', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 18px;
  margin-right: 20px;
  color: #4d4d4d;
}

.divider-line {
  border-right: 1px solid #D9D9D9;
  height: 24px;
  margin-right: 16px;
}

.logo-name {
  margin: 1px;
  font-family: 'quebecsemibold', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 28px;
  margin-top: -12px;
}

.logo h3 {
  margin-top: 16px;
}

.top-right-panel {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 20px 5px 20px;
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stop-right-panel div .icon {
  width: 100%;
  display: block;
}

/* guidebook section on header */
.current-canvas div{
  margin-left: 10px;
}
.instructions_wrapper {
  float: right;
  position: relative;
  border-radius: 10px 0 0 10px;
  margin-top: 70px;
  background-color: #FFFFFF;
  padding: 40px 30px 20px 30px;
  box-shadow: 0px 0px 6px #00000029;
  width: 420px;
  min-height: 400px;
  max-height: calc(100vh - 120px);
}

/* guidebook text and arrow help to open */

.guidebook_open_help {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  top: 70px;
  right: 88px;
  position: absolute;
  font-family: 'quebecregular', Helvetica, Sans-Serif;
  font-weight: normal;
  color: #717171;
  font-size: 14px;
  z-index: -1;
}

.guidebook_open_help img {
  max-width: 70px;
  padding-bottom: 5px;
  padding-left: 10px;
}


.instructions_wrapper .small-close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.instructions_wrapper button {
  margin: 0;
}

.instructions {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  margin-left: 10px;
  color: #4D4D4D;
}

/* profile section on header */

.top-right-panel icon {
  margin-right: 10px;
}

.avatar_container {
  height: 36px;
  width: 36px;
}

.avatar_container img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.top-right-panel div .avatar_container+span {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 22px;
  bottom: -2px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.profile-wrapper button p {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  font-size: 14px;
  padding: 0 20px;
}

.profile-wrapper button:hover {
  background: #F4F4F4 none repeat scroll 0% 0%;
  color: #5F65FF;
}

.profile-wrapper button .icon {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.profile-wrapper button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-wrapper {
  margin-top: 62px;
  margin-right: 10px;
  float: right;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}

/* user status on header */

.btn:hover {
  background-color: #F2F2F2;
}

.purple .avatar_container+span {
  background-color: #5F65FF;
}

.green .avatar_container+span {
  background-color: #00D0C0;
}

.yellow .avatar_container+span {
  background-color: #FFC400;
}

.gray .avatar_container+span {
  background-color: #D1D1D1;
}

button.green .icon {
  background-color: #00D0C0;
}

button.purple .icon {
  background-color: #5F65FF;
}

button.yellow .icon {
  background-color: #FFC400;
}

button.gray .icon {
  background-color: #D1D1D1;
}

.user-status-wrapper {
  margin-top: 62px;
  margin-right: 10px;
  float: right;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}
.export-wrapper {
  margin-top: 62px;
  margin-left: 277px;
  float: left;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}
.export-wrapper a {
  padding: 12px 25px;
  color: black;
  outline: none;
  font-family: 'rennerbook', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.export-hover-display {
  margin-top: 60px;
  margin-left: 321px;
  float: left;
  border-radius: 5px;
  color: white;
  background-color: #5F65FF;
  padding: 3px 6px 6px 6px;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
  font-family: 'quebecsemibold', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  z-index: 100;
  
}
.export-wrapper a:hover {
  background: #F4F4F4 none repeat scroll 0% 0%;
  color: #5F65FF;
}
.user-status-wrapper button {
  padding: 0 25px;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-status-wrapper button .icon {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.user-status-wrapper button p {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  font-size: 14px;
  padding-left: 10px;
}

.user-status-wrapper button:hover {
  background: #F4F4F4 none repeat scroll 0% 0%;
  color: #5F65FF;
}