.alert-popup {
  top: 0;
  left: 0;
  background: rgba(31, 31, 31, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  transition: 0.2s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-popup-wrapper {
  position: absolute;
  width: 634px;
  min-height: 345px;
  box-sizing: border-box;
  padding: 50px 60px;
  transition: 0.3s;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #00000041;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s all;
}

.alert-popup-wrapper .small-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.alert-popup-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alert-popup-heading {
  font-size: 22px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
}

.popup-icon {
  margin-right: 10px;
  cursor: default;
}

.popup-content {
  color: #4d4d4d;
}

.dont-show-again-option {
  cursor: pointer;
  font-size: 14px;
  color: #4d4d4d;
}

.dont-show-again-option label {
  cursor: pointer;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-stroked {
  margin-right: 20px;
}

.alert-popup-goals-list {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 12px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  margin-bottom: 10px;
}
