.project-empty-state-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: -1;
  position: absolute;
}

.project-empty-state {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.project-empty-state h1 {
  font-family: 'gilroyextrabold', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 27px;
  letter-spacing: 1.05px;
  margin-top: 25px;
}

.project-empty-state-text {
  font-family: 'CircularStd-Book', Helvetica, sans-serif;
  font-weight: normal;
  margin: 20px auto;
  color: #4d4d4d;
  width: 550px;
  line-height: 32px;
}
