.project-modal-heading {
  font-size: 22px;
  font-family: 'CircularStd-Bold', Helvetica, sans-serif;
  color: #222222;
  margin-bottom: 10px;
}

.project-modal-subheading {
  font-size: 14px;
  font-family: 'CircularStd-Book', Helvetica, sans-serif;
  color: #9b9b9b;
  margin-bottom: 30px;
}

.project-modal-content-spacer {
  margin-bottom: 60px;
  margin-top: 60px;
}

.project-modal-button {
  text-align: center;
}
