.comments {
  width: 400px;
  font-family: 'rennerbook', Helvetica, Sans-Serif;
}
.comments span {
  margin: 2px 6px;
}
.comments > div:first-child {
  display: flex;
}
.scroll {
  overflow-y: scroll;
  height: 180px;
  overflow-x: hidden;
}
.comment {
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
}
.comment > div:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
}
.input_comment_row {
  margin-bottom: 20px;
}
.input_comment {
  width: 350px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 15px;
  color: black;
  padding: 4px;
  outline: 0;
  box-shadow: none;
  margin-bottom: 15px;
}
.avatar_comment_container {
  display: inline-block;
}
.avatar_comment_container img {
  width: 50px;
  height: 35px;
  border-radius: 50%;
}
.date {
  color: #a3a3a3;
  font-size: 12px;
  line-height: 14px;
}
