.comments {
  font-family: 'rennerbook', Helvetica, Sans-Serif;
}

.comments > div:first-child {
  display: flex;
}

.comment_history_container_scrollable {
  overflow-y: scroll;
  max-height: 17vh;
  overflow-x: hidden;
}

.comment {
 /* width: 400px; */
  display: flex;
  flex-wrap: nowrap;
}

.comment > div:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_comment_row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_comment_wrapper {
  display: flex;
}

.input_comment {
  height: 32px;
  box-sizing: border-box;
  border: 1.5px solid #d1d1d1;
  border-radius: 15px;
  padding: 15px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  flex: 1;
  font-size: 13px;
  font-family: 'rennerbook', Helvetica, sans-serif;
  resize: none;
}

.input_comment:focus {
  border: 1.5px solid #5f65ff;
}


.comment_save_button {

}

.avatar_comment_container {
  display: inline-block;
  margin-right: 10px;
}

/* .avatar_comment_container img {
  border-radius: 50%;
  margin-right: 10px;
} */

.comment_history_item {
  display: flex;
  margin-bottom: 16px;
}

.comment_history_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.comment_history_name {
  color: #4E566F;
  font-size: 10px;
  line-height: 13px;
  font-family: 'renner_mediummedium', Helvetica, sans-serif;
  margin-right: 10px;
}

.comment_history_date {
  color: #a3a3a3;
  font-size: 10px;
  line-height: 13px;
}

.comment_history_text {
  color: #4D4D4D;
  font-size: 12px;
  line-height: 14px;
  box-sizing: border-box;
  max-width: 365px;
  white-space: pre-wrap;
}
