.validating_form_input {
  margin-bottom: 38px;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.validating_form_input label {
  color: #222222;
  line-height: 19px;
  font-size: 16px;
  margin-bottom: 7px;
  display: block;
}

.validating_form_input .help_text {
  color: #898989;
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 6px 0;
  flex: 1;
}

.validating_form_input .input_wrapper {
  flex: 1;
  display: flex;
  position: relative;
}

.validating_form_input .input_wrapper input {
  border: 1px solid #D1D1D1;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  color: #717171;
  padding: 11px;
  border-radius: 5px;
  display: block;
  flex: 1;
}

.validating_form_input input.with_at_symbol {
  padding-left: 24px;
}

.validating_form_input .at_symbol {
  position: absolute;
  top: 13px;
  left: 12px;
}