.expanded_view_content {
  padding: 20px;
  width: 496px;
}

.expanded_view_title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #4d4d4d;
  padding: 4px 0;
}

.expanded_view_title input {
  width: 100%;
  outline: none;
  border: none;
  color: #4d4d4d;
  font-size: 22px;
  padding: 0;
  font-family: 'rennerbook', Helvetica, Sans-Serif;
}

.expanded_view_title textarea {
  width: 100%;
  outline: none;
  border: none;
  color: #4d4d4d;
  font-size: 22px;
  padding: 0;
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  resize: none;
}

.expanded_view_tags {
  padding-bottom: 20px;
}

.squirrels_timeframe_row {
  display: flex;
  flex-direction: row;
  color: #717171;
  padding-bottom: 20px;
  font-size: 14px;
}
.expanded_view_description textarea {
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  resize: none;
  font-family: 'rennerbook', Helvetica, Sans-Serif;
  font-size: 14px;
}

.expanded_view_squirrels_title, .expanded_view_timeframe_title {
  margin-bottom: 8px;
}

.expanded_view_squirrels_wrapper {
  width: 50%;
  position: relative;
}

.expanded_view_squirrels_wrapper .picker-popup {
  top: 60px;
}

.expanded_view_squirrels_wrapper .icon {
  margin-right: 6px;
}

.expanded_view_squirrels_content {
  display: flex;
  flex-direction: row;
}

.add_squirrel_plus_icon {
  background: #F4F4F4;
  border-radius: 50%;
}

.icon.medium.add_squirrel_plus_icon {
  padding: 7px;
}

.expanded_view_timeframe_display {
  background: #F2F2F2;
  border-radius: 10px;
  padding: 9px 12px;
  font-size: 13px;
  font-family: 'renner_mediummedium', Helvetica, Sans-Serif;
  cursor: pointer;
}

.timeframe_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.timeframe_wrapper .picker-popup {
  top: 60px;
}

.expanded_view_description {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 15px;
  color: #a3a3a3;
}
